cffi==1.9.0
decorator==4.0.2
enum34==1.1.6
falcon==0.3.0
greenlet==0.4.10
gunicorn==19.3.0
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
path.py==8.1.1
pathlib2==2.3.0
pexpect==3.3
pickleshare==0.5
pkg-resources==0.0.0
ptyprocess==0.5.2
python-mimeparse==0.1.4
readline==6.2.4.1
rethinkdb==2.1.0.post1
scandir==1.5
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
